debug/
target/
.vscode
.metals
scratchpad.md
*.rdb
*.txt

# Editor + IDE junk
.vscode
.metals
.bloop
.bsp
.idea
.devcontainer
metals.sbt

# SBT build artifacts
target/
project/target/
project/project/

# Docker build cache (optional)
debug/

# Never ignore these:
!project/plugins.sbt
!project/build.properties
