debug/
target/
.vscode
.metals

# Editor + IDE junk
.vscode
.metals
.bloop
.idea
metals.sbt

# SBT build artifacts
target/
project/target/
project/project/

# Docker build cache (optional)
debug/

# Never ignore these:
!project/plugins.sbt
!project/build.properties
